@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body, html {
        @apply w-screen h-screen overflow-x-hidden
    }
    ::-webkit-scrollbar {
        background-color: rgba(50, 130, 230, 0.2);
        @apply w-2
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(50, 130, 230, 0.5);
    }
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h2 {
        @apply text-left text-2xl mx-1 px-1 mt-1 pt-1
    }
    #footer {
        @apply h-40 w-full bg-gray-700 mt-20
    }
    .wrapper {
        height: 38rem;
    }
    #main-bg {
        @apply w-full h-screen bg-gray-800 fixed -z-10 inset-0
    }
    #navbar {
        @apply absolute z-20 w-full pr-2
    }
}

@layer components {
    .bar {
        transition: background-color 200ms linear;
        @apply py-0.5 w-full inline-block bg-gray-200 rounded relative
    }
    .bar::before {
        content: '';
        top: 12px;
        transition: transform 200ms linear, top 200ms linear;
        @apply py-0.5 w-full inline-block bg-gray-200 rounded absolute left-0
    }
    .bar::after {
        content: '';
        top: -12px;
        transition: transform 200ms linear, top 200ms linear;
        @apply py-0.5 w-full inline-block bg-gray-200 rounded absolute left-0
    }
    .collapse {
        @apply max-h-12
    }
    .expand {
        @apply max-h-36
    }
    .nav {
        transition: max-height 200ms linear;
    }
    .bar-container {
        transition: transform 200ms linear;
    }
    .active {
        transform: rotateZ(180deg);
    }
    .bar-active:before {
        top: 0;
        transform: rotateZ(45deg);
    }
    .bar-active:after {
        top: 0;
        transform: rotateZ(-45deg);
    }
    .bar-active {
        @apply bg-opacity-0
    }
    .prevNextBtn {
        transition: background-color 300ms linear, opacity 300ms linear;
        @apply h-full block absolute w-12 top-0 opacity-0
    }
    .prevNextBtn:active {
        @apply outline-none ring ring-green-400
    }
    .prevNextBtn:focus {
        @apply outline-none
    }
    .prevNextBtn:hover {
        @apply bg-black bg-opacity-50 opacity-100
    }
    .material-icons {
        @apply text-gray-400
    }

    .material-icons:not(.arrow):hover {
        @apply text-green-400 cursor-pointer
    }
    .flickity-page-dots .dot {
        height: 4px;
        width: 30px;
        margin: 0;
        border-radius: 0;
        @apply bg-gray-400 p-1 rounded-lg mx-0.5
    }
    .flickity-page-dots .dot.is-selected {
        @apply bg-indigo-400
    }
    .flickity-page-dots {
        @apply hidden md:block
    }
    .genre-select:hover {
        @apply text-green-300
    }
    fieldset {
        transition: max-height 200ms linear;
    }
    .btn {
        @apply p-1 bg-green-300 rounded
    }
}